<!DOCTYPE html>
<html>

<%- include('./partials/header', { title: title }); %>

<body>

    <link rel="stylesheet" href="/static/public/css/index.css">
    <link rel="stylesheet" href="/static/public/css/form.css">

    <%- include('./partials/nav', { linkId }); %>
    <main>
        <div class="overlay nav__padding">
        </div>
        <section class="login__form nav__padding">
            <form id="client-signup">
                <h3>Su registro se ha realizado correctamente.</h3>
                <p>
                    Hemos enviado un correo electrónico a la dirección proporcionada para que valides la misma.
                </p>
                <p>
                    Una vez validada tu cuenta podrás realizar y gestionar pagos o suscripciones.
                </p>
                <p>
                    Si no recibes el correo electrónico en las próximas horas, contacte con
                    <b><a mailto="contacto@musicalmsoul.com">contacto@musicalmsoul.com</a></b>
                </p>
                <p>
                    Puedes ingresar a tu <a href="/ingresar">área de usuario</a> para solicitar un nuevo enlace de
                    validación con las credenciales que proporcionaste.
                </p>
                <!-- Only for E2E tests -->
                <input type="hidden" value="<%= validationId %>" />
            </form>
        </section>
    </main>
    <%- include('./partials/footer', { page: '/' }); %>
    <%- include('./partials/scripts', { scripts: ["scripts.js", "appear.js", "dropdown.js"] }); %>
    <!-- <script src="/static/public/js/dropdown.js"></script> -->
</body>


</html>